@{
	ViewData["Title"] = "Register";
}
@model User
<div class="center-div">
	<h1 class="text-primary">Sign up!</h1>
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<form id="registerForm" method="post">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input type="email" asp-for="Email" class="form-control" autocomplete="username" aria-required="true">
			</div>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" id="pass" asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
			</div>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Confirm password</label>
			<div class="col-sm-10">
				<input type="password" id="confpass" asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
			</div>
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Submit</button>
	</form>

	<br>
	<p class="text-primary font-italic">Already have an account? <a asp-controller="User" asp-action="Login">Log in</a>!</p>
</div>

<script>
	var pass = document.getElementById("pass");
	var confpass = document.getElementById("confpass");
	function validate(){
		if(pass.value != confpass.value){
			confpass.setCustomValidity("It does not match the current password");
		}
		else{
			confpass.setCustomValidity("");
		}
	}
	pass.onchange = validate;
	confpass.onkeyup = validate;
</script>

