﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WAD.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				<img src="~/img/logo.png" alt="logo" class="logo">
				Book n Go
			</a>
			@*<span></span>
			<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">

							Change currency (@ViewBag.Currency)
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" asp-controller="Home" asp-action="Currency">Profile</a></li>
							<li><a class="dropdown-item" asp-controller="Home" asp-action="Currency">Profile</a></li>
						</ul>
					</li>
			</ul>*@
			<span></span>
			<div>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="currency-dropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">
							USD
						</a>

						<ul class="dropdown-menu" id="currency-selection">
								<li name="USD" class="dropdown-item currency-select">USD</li>
								<li name="EUR" class="dropdown-item currency-select">EUR</li>
								<li name="GBP" class="dropdown-item currency-select">GBP</li>
								<li name="JPY" class="dropdown-item currency-select">JPY</li>
								<li name="RON" class="dropdown-item currency-select">RON</li>
							
						</ul>
					</li>
				</ul>
			</div>
			<div>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">

							@if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("token")))
							{
								<span>New user</span>
							}
							else
							{
								<span>Welcome!</span>
							}
						</a>

						<ul class="dropdown-menu">
							@if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("token")))
							{
								<li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item text-danger" asp-controller="User" asp-action="Logout">Logout</a>
								</li>
							}
							else
							{
								@*<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
								<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>*@
								<li><a class="dropdown-item" asp-controller="User" asp-action="Login">Sign in a</a></li>
								<li><a class="dropdown-item" asp-controller="User" asp-action="Register">Sign up</a></li>
							}
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	@RenderBody()

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
        // Add a click event listener to the link
        document.getElementById('redirectLink').addEventListener('click', function() {
            // Set the new URL to the controller action
            window.location.href = '@Url.Action("Index", "Home")'; // Replace with your controller and action names
        });
    </script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
