@{
	ViewData["Title"] = "Confirmation";
}

<div class="center-div">
	Your reservation has been completed successfully!
	<br />
	<a class="btn btn-outline-success" asp-action="Index">Go back to home</a>
	</div>