.filter-div {
    border: solid 1px gray;
    border-radius: 15px 0px 0px 15px;
    border-right-style: none;
    padding: 20px;
    height: fit-content;
}

.news-div {
    border: solid 1px gray;
    height: fit-content;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 0px 0px 15px 15px;
}

#news-description, #news-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#news-description:hover, #news-title:hover{
    height: auto;
    overflow: visible;
    text-overflow: clip;
    display: -webkit-flex
}

#news-description {
    height: 3em;
    -webkit-line-clamp: 3;
}

#news-title {
    height: 2.4em;
    -webkit-line-clamp: 2;
}

.news-image-wrapper{
    aspect-ratio: 16/9;
    overflow: hidden;
}

.news-button {
    text-align: center;
    font-weight: 100;
    background-color: transparent;
    padding: 5px;
    transition: 0.5s;
}

.news-button:hover {
    color: white;
    background-color: rgb(156, 156, 156, 0.5);
    font-weight: 500;
}

.result-div {
    display: inline-block;
    border: solid 1px gray;
    padding: 20px;
    min-height: auto;
}

.rounded-bl {
    border-radius: 0px 0px 0px 15px;
}

.rounded-br {
    border-radius: 0px 0px 15px 0px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.time-interval {
    font-weight: 600;
    font-size: larger;
}

.price {
    font-weight: 600;
    font-size: xx-large;
}

.start-10 {
    left: 10px;
}

.bottom-10 {
    bottom: 10px;
}

.end-10 {
    right: 10px;
}

.top-10{
    top:10px;
}

@media only screen and (max-width: 767px) {
    .result-div, .filter-div {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
}